<div class="mt-8">
  <p-panel header="Amortization Graphs">
    <div class="grid">
      <div class="col-12 md:col-6">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="lineChartOptions"
          style="width: 95%; height: 400px; display: block;"
        ></highcharts-chart>
      </div>
      <div class="col-12 md:col-6">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="pieChartOptions"
          style="width: 95%; height: 400px; display: block;"
        ></highcharts-chart>
      </div>
    </div>
  </p-panel>
</div>
