<header class="h-40 mb-5 flex items-center" style="background-image: url('assets/images/02.jpg')" >
  <div class="container-pro text-center">
    <h1 class="text-3xl text-white font-bold mt-0 mb-4">Terms Of Service</h1>
  </div>
</header>
<section class="container-pro">
  <div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6">Terms of Service</h1>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">1. Acceptance of Terms</h2>
      <p class="leading-relaxed">By using the Amortization Calculator Home Loan web app, you agree to be bound by these Terms of Service. If you do not agree to these terms, please do not use the app.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">2. Use of the App</h2>
      <ul class="list-disc list-inside">
        <li class="mb-2"><strong>License:</strong> We grant you a limited, non-exclusive, non-transferable license to use the app for personal, non-commercial purposes.</li>
        <li><strong>Prohibited Activities:</strong> You agree not to use the app for any unlawful or unauthorized purposes, including but not limited to distributing malware, violating others' rights, or attempting to hack the app.</li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">3. Intellectual Property</h2>
      <p class="leading-relaxed">All content, features, and functionality of the app (including but not limited to text, graphics, logos) are owned by us and are protected by copyright, trademark, and other laws.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">4. Disclaimer of Warranties</h2>
      <p class="leading-relaxed">The app is provided "as is" and "as available" without any warranties, express or implied. We do not guarantee that the app will be error-free or that any defects will be corrected.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">5. Limitation of Liability</h2>
      <p class="leading-relaxed">In no event shall we be liable for any indirect, incidental, special, or consequential damages arising out of your use of the app.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">6. Changes to These Terms</h2>
      <p class="leading-relaxed">We reserve the right to modify these Terms of Service at any time. We will notify you of any changes by posting the updated terms on this page.</p>
    </section>


    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">7. Contact Us</h2>
      <p class="leading-relaxed">If you have any questions about these Terms of Service, please contact us at <strong>contact@amortizationcalculatorhomeloan.com</strong>.</p>
    </section>
  </div>
</section>
