/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;

@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  margin: 0;
}

.container-pro{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* ################################################################### */

/*body {*/
/*  font-family: Arial, sans-serif;*/
/*  line-height: 1.6;*/
/*  margin: 0;*/
/*  padding: 20px;*/
/*}*/

/*.container {*/
/*  max-width: 1200px;*/
/*  margin: 0 auto;*/
/*  padding: 0 20px;*/
/*}*/

/*h1, h2, h3 {*/
/*  color: #333;*/
/*}*/

/*.form-group {*/
/*  margin-bottom: 15px;*/
/*}*/

/*label {*/
/*  display: block;*/
/*  margin-bottom: 5px;*/
/*}*/

/*input[type="number"] {*/
/*  width: 100%;*/
/*  padding: 8px;*/
/*  border: 1px solid #ddd;*/
/*  border-radius: 4px;*/
/*}*/

/*button {*/
/*  background-color: #007bff;*/
/*  color: white;*/
/*  border: none;*/
/*  padding: 10px 20px;*/
/*  border-radius: 4px;*/
/*  cursor: pointer;*/
/*}*/

/*button:hover {*/
/*  background-color: #0056b3;*/
/*}*/

/*table {*/
/*  width: 100%;*/
/*  border-collapse: collapse;*/
/*  margin-top: 20px;*/
/*}*/

/*th, td {*/
/*  border: 1px solid #ddd;*/
/*  padding: 8px;*/
/*  text-align: right;*/
/*}*/

/*th {*/
/*  background-color: #f2f2f2;*/
/*  font-weight: bold;*/
/*}*/

/*.chart-container {*/
/*  margin-top: 30px;*/
/*}*/
